apiclient==1.0.4
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.14.0
idna==2.8
npyscreen==4.10.5
pafy==0.5.4
pkg-resources==0.0.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
requests==2.22.0
rsa==4.1
six==1.12.0
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.25.6
youtube-dl==2019.9.12.1
